@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Squada+One&display=swap');
@import 'tailwindcss';

:root {
  font-family: var(--font-oswald);
}

@theme {
 
  /* text stuff */
  --text-nav: 24px;
  --font-oswald: 'Oswald', sans-serif;  
  --font-squada: 'Squada One', cursive;
}